.fu_form {
  height: 167px;
  display: flex;
  cursor: pointer;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 6px;
  border: 2px dashed var(--primary-color);
}

.fu_form :where(i, p) {
  color: var(--primary-color);
}

.fu_form p {
  margin-top: 15px;
  font-size: 16px;
}

.fu_form__upload_icon {
  width: 2em;
}

.fu_area {
  max-height: 250px;
  overflow-y: auto;
}

.fu_area::-webkit-scrollbar {
  width: 4px;
}

.fu_area::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: var(--primary-color);
  border: 6px solid rgba(0, 0, 0, 0.2);
}

.fu_area .row {
  margin-bottom: 10px;
  background: #e9f0ff;
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fu_area .row:last-child {
  margin-bottom: 0px;
}

.fu_area .row .content {
  width: 100%;
  margin-left: 16px;
}

.fu_area .row .thumbnail {
  width: 64px;
}

.fu_area .row .details span {
  font-size: 14px;
}

.fu_progress_area {
  margin-bottom: 8px;
}

.fu_progress_area .row .details {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
}

.fu_progress_area .row .progress_bar {
  height: 6px;
  width: 100%;
  margin-bottom: 4px;
  background: #fff;
  border-radius: 30px;
}

.fu_progress_area .progress_bar .progress {
  height: 100%;
  width: 0%;
  background: var(--primary-color);
  border-radius: inherit;
}

.fu_uploaded_area .row.success {
  background-color: var(--success);
}

.fu_uploaded_area .row.error {
  background-color: var(--error);
}

.fu_uploaded_area.onprogress {
  max-height: 150px;
}

.fu_uploaded_area .row .details {
  display: flex;
  flex-direction: column;
}

.fu_uploaded_area .row .details .size {
  color: #404040;
  font-size: 11px;
}

.fu_uploaded_area .row .status_icon {
  flex-grow: 1;
  width: 32px;
}
